* {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.0em;
  color: #f8f8f2;
  box-sizing: border-box;
}

h1 {
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
}

.interface {
  background-color: #2d2b3d;
}

  .menu {
    position: fixed;
    width: 100vw;
    background-color: #1a5659;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5);
  }

  .menu h1 {
      font-size: 1.4em;
  }

  @media (min-width: 400px) {
    .menu {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      padding: 10px
    }

      .menu ul {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        margin-right: 10px;
        padding-top: 5px;
        list-style: none;
      }

        .menu li {
          padding: 0px 10px 0px 10px; 
        }

          .menu a {
            text-decoration: none;
          }

          .menu a:hover {
            transition: 0.5s;
            text-decoration: underline;
            text-shadow: 0px 0px 5px #f8f8f2;
          }
    }

    @media ( max-width: 400px )  {
      .menu h1 {
        text-align: center;
        margin: 10px;
      }

      .menu-container {
        flex-direction: column;
        text-align: center;
        padding: 5px
      } 

      .menu nav {
        display:none;
      }

        .menu ul {
          display: flex;
          flex-direction: column;
          align-items: center;
        }

          .menu li {
            margin: 5px;
            padding: 5px;
            border-bottom: dotted 1px #f8f8f2;
            width: 50vw;
            list-style: none;
          }

            .menu a {
              text-decoration: none;
            }

            .menu a:hover {
              transition: 0.5s;
              text-shadow: 0px 0px 5px #f8f8f2;
            }
    }

  .section {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 100vh;
    padding-left: 4em;
    padding-right: 4em;
  }

    .content {
      padding-top: 10px;
      padding-bottom: 10px;
      padding-right: 20px;
      overflow: auto;
    }

      .content h1 {
        font-size: 2em;
        font-weight: 600;
        padding-bottom: 10px;
      }

      .content p {
        font-size: 1.2em;
        font-weight: 400;
        text-align: justify;
      }

      .content p::after {
        content: '|';
        animation: blinker .7s infinite;
      }

      @keyframes blinker {
        0%, 100% {
          opacity: 1;
        }

        50% {
          opacity: 0;
        }
      }

      #about-me {
        background-color: #282a36 ; 
      }

      #projects {
        background-color: #2d253b;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        height: 100vh;
      }

      .personal-content {
        align-self: flex-start;
        padding-left: 4em;
      }
      

      .slider {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        margin-bottom: 100px;
      }

      .livetube {
        background-image: url('img/livetube.jpg');
      }

      .angler {
        background-image: url('img/angler.jpg');
      }

      .flylife {
        background-image: url('img/flylife.jpg');
      }

      .more-projects {
        background-image: url('img/more.jpg');
      }

      .img {
        width: 90vw;
        height: 60vh;
        position: absolute;
        opacity: 0;
        transition: opacity 400ms;
        background-position: center;
      }

      .selected {
        opacity: 1;
      }

      .caption {
        display:flex;
        flex-direction: column;
        justify-content: flex-end;

        background-color: rgba(0, 0, 0, 0.4);
        width: 100%;
        height: 100%;
        padding: 15px;
      }

      .caption h1 {
        font-size: 1.2em;
        margin-bottom: 5px;
      }

      .caption p {
        font-size: 1em;
      }


      @media (max-width: 700px ) {

        h1 {
          text-align: center;
          margin-bottom: 10px;
        }

        .menu h1  {
          margin-bottom: 10px;
        }

        .section {
          padding-right: 10px;
          padding-left: 30px;
        }

        .personal-content {
          align-self: center;
          padding: 0px 30px 0px 30px;
          margin-bottom: 40px;
        }

        .caption p {
          text-align: center;
        }
      } 

      @media (max-height: 400px) {
        #projects {
          height: 120vh;
        } 
      }

