.pallete {
  color: #241627;
  color: #1a1825;
  color: #10152d;
  color: #102d2b;
  color: #22221b;
  color: #331d0a;
  color: #3d1701;
  color: #523314;
  color: #f8f8f2;
}

* {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.0em;
  color: #f8f8f2;
  box-sizing: border-box;
}

.interface {
  background-color: #22221b;
}

  .menu {
    position: fixed;
    width: 100vw;
    background-color: #241627;
  }

  .menu h1 {
      font-size: 1.4em;
  }

  @media (min-width: 400px) {

    .menu {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      padding: 10px
    }

      .menu ul {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        margin-right: 10px;
        padding-top: 5px;
        list-style: none;
      }

        .menu li {
          padding: 0px 10px 0px 10px; 
        }

          .menu a {
            text-decoration: none;
          }

          .menu a:hover {
            transition: 0.5s;
            text-decoration: underline;
            text-shadow: 0px 0px 5px #f8f8f2;
          }
    }

    @media ( max-width: 400px )  {
      .menu h1 {
        text-align: center;
        margin: 10px;
      }

      .menu-container {
        flex-direction: column;
        text-align: center;
        padding: 5px
      } 

      .menu nav {
        display:none;
      }

        .menu ul {
          display: flex;
          flex-direction: column;
          align-items: center;
        }

          .menu li {
            margin: 5px;
            padding: 5px;
            border-bottom: dotted 1px #f8f8f2;
            width: 50vw;
            list-style: none;
          }

            .menu a {
              text-decoration: none;
            }

            .menu a:hover {
              transition: 0.5s;
              text-shadow: 0px 0px 5px #f8f8f2;
            }
    }

  #initial-cover {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    height: 100vh;
  }

  #about-me {
    height: 100vh;
  }

  #projects {
    height: 100vh;
  }


